.site{

  width: 80%;
}

#title{
 
  width: 17.87%
}

h1{

  font-family: 'Source Sans Pro', sans-serif;
  color: #fd07c0;
  font-size: 3.45em;
  line-height: 45px;
  font-weight: 400;
  height: 47px;
  width: 168px;
  position: fixed;
  margin-left: 30px;
  margin-top: 30px;

}

#menu{

  position: fixed;
  margin-top: 45px;
  margin-left: -10px;
  padding-top: 80px;
  color: inherit;
  width: 30%;

}

.menu{

  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #01e9f1;
  font-size: 2.80em;
  line-height: 50px;
  letter-spacing: 1px;
  float:none;
}

.menu:hover{

  color: #fd07c0;
  font-weight: bold;
}

#menu2{

  position: fixed;
  margin-left: 40px;
  padding-top: 17px;

}

.menu2:hover{

  color: #fd07c0;
  font-weight: bold;
}

.menu2{

  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #a9f101;
  font-size: 1.66em;
  line-height: 17.6px;
  letter-spacing: 1px;
}

.author{

  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: #444444;
  font-size: 11px;
  color: #444444;
}

ul{

  list-style: none;

}

.photo{

  margin-top: 10px;
  /*margin-left: 300px;*/
  width: 100%;
}

img{

	margin: 25px;
  margin-left: 10px;
	width: 80%;
}

html {
  scroll-behavior: smooth;
}

h2 {
  
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
  font-size: 1em;
  margin-left: 20px;
  margin-top: -5px;
  font-weight: 400;
  width: 80%;
  
  /*line-height: 45px;
  margin-top: 30px;
  height: 47px;
  width: 168px;
  position: static;
  */
}

#text:hover{

  color: #181717;
  font-weight: bold;
}